@import url("estilos/header.css");
@import url("estilos/section.css");
:root{
  --cor--de--fonte: #FFFFFF;
  --cor--de--titulo: #FAFF00;
  --cor--de--cabecalho:#dd4646;
}

body{ 

  background-image: url(img/image\ 1.png);
 background-repeat: no-repeat
 

}
.banner{ 
background-color: black;
color:var(--cor--de--fonte);
font-size: 16px;
margin: 10px;

}
 .banner-titulo{
  margin-top: 16px;
 background-color: gray;

 }

 .container-principal{

   
 }
