@import url("estilos/header.css");

:root{
  --cor--de--fonte: #FFFFFF;
  --cor--de--titulo: #FAFF00;
  --cor--de--cabecalho:#dd4646;
}

body{ 

  background-image: url(img/image\ 1.png);


}
.banner{ 

width:;
background-color: black;
color:var(--cor--de--fonte);
font-size: 16px;
}
 .banner-titulo{
 background-color: gray;

 }