.cabecalho{
background-color: black;

}
.cabecalho{

   color: var(--cor--de--fonte);
   background-color: var(--cor--de--cabecalho);
   display: flex;
   justify-content: space-between;
   border-radius: 10px;
}

.cabecalho--home{
   margin: 9px;
}
   
.cabecalho--menu--hamburger{
   background-image: url(../img/barra.png);
   display: block;
   display: inline-block;
   background-repeat: no-repeat;
   height: 25px;
   width: 25px;
   margin: 5px;

}

.lista-menu{
   display: none;

}

.cabeclho--botao:checked ~ .lista-menu{
   display: block;
}

.cabecalho--botao{
   display: none;
}